*{
   box-sizing: border-box;
}
body{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    color: turquoise;
    background-color: black;
}
#button-list-container{
    margin-top: 30px; 
}
#label-button-list{
    margin-left: 35px;
}
.movie{
    margin: 20px;
    padding: 5px 10px; 
    border: 2px solid rgb(97, 182, 175);
    border-radius: 25px;
}
.movie:hover,#show-fav:hover,#add-movie:hover,#gif-rating-div:hover{
    background-color: blueviolet;
    color:yellow;
}
#form-container{
    margin-top: 40px;
}
#form-movie{
    padding: 5px 25px;
}
#movie-input,#label{
    margin-right: 20px;
}
#add-movie,#show-fav{
    border-radius: 25px;
    padding: 5px 10px; 
    margin-right: 30px;
    border: 2px solid rgb(97, 182, 175);
}
#gif-rating-div{
    float:left;
    margin: 30px 20px;
    border: 1px solid white;
    border-radius: 5px;
}
.gif{
    height: 150px;
    width: 200px;
}
#rating{
    margin-bottom: 0px;
    padding: 5px;
}
#dymanicBtn{
    background-color: blue;
    margin-bottom: 5px;
    padding: 0px 3px;;
}
